@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
    list-style:none;
    text-decoration:none;
}

:root{
    --laranja:#ff6600;
    --amarelo:#ffcc00;
    --preto:#000000;
    --branco:#ffffff;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 40px;
    width: 100vw;
    background: var(--preto);
    transition:all 0.5s;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: relative; /*FIXA O NAV SEM DEIXAR O BANNER SOBREPOR */
    z-index: 1; /*POSIÇÃO DOS OBJETOS*/
}
.logotipo{
    width:15%;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}

.nav-menu{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.navigation a{
    font-size: 16px;
    color:var(--branco);
    font-weight:500;
}
.nav-menu a:hover{
    color:var(--laranja);
}

.menu-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    font-size: 1.5rem;

}



main{
    color: var(--branco);
    max-width: 100vw;
    width:100%;
    
}
.conteudo{
    position: absolute;
    align-items: center;
    text-align: center;
    margin: 40px;
    z-index: 1;
    font-size: 20px;
}
.conteudo .texto1{
    line-height: 2.0rem;
}
main img{
    z-index: 0;
    overflow: hidden;
    position: relative;
    
    width: 100%;
    top: -50px;
}